@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}

.dark {
  --color-bg-primary: #141d2f;
  --color-bg-secondary: #1e2a47;
  --color-text-primary: #ffffff;
  --color-text-accent: #0079ff;
  --color-text-alert: #f74646;
  --color-bg-button: #0079ff;
  --color-bg-button-hover: #60abff;
  /* Dark Mode Button */
  --color-link-active: #ffffff;
  --color-link-hover: #90a4d4;
}

.light {
  --color-bg-primary: #f6f8ff;
  --color-bg-secondary: #fefefe;
  --color-text-primary: #2b3442;
  --color-text-secondary: #4b6a9b;
  --color-text-accent: #0079ff;
  --color-text-alert: #f74646;
  --color-bg-button: #0079ff;
  --color-bg-button-hover: #60abff;
  /* Dark Mode Button */
  --color-link-active: #697c9a;
  --color-link-hover: #2b3442;
}

@layer base {
  h1 {
    @apply font-custom font-bold text-[26px] leading-[38px];
  }
  h2 {
    @apply font-custom font-bold text-[22px] leading-[33px];
  }
  h3 {
    @apply font-custom text-[16px] leading-[24px];
  }
  h4 {
    @apply font-custom text-[13px] leading-[20px];
  }
  p {
    @apply font-custom text-[15px] leading-[25px];
  }
}
